h1{
    background-color: yellow;
    font-size: 40px;
}
td.cls_1{
    background-color: coral;
    color: darkgreen;
}
td.cls_2{
    background-color:purple ;
    color: white;
}
td.cls_3{
    background-color: purple ;
    color: lightblue;
}
td.cls_4{
    background-color: lightblue;
}
td.cls_5{
    background-color: yellow;
}
td.cls_6{
    background-color: yellow;
    color: green;
}
td.cls_7{
    background-color: yellow;
    color: brown;
}
td.cls_8{
    background-color: brown;
}
td.cls_9{
    background-color: pink;
}
td.cls_10{
    background-color: pink;
    color: green;
}
td.cls_11{
    background-color: orange;
    color: green;
}
td.cls_12{
    background-color: lightgray;
}
td.cls_13{
    background-color: lightgray;
    color: red;
}
td.cls_14{
    color: red;
}
td.cls_15{
    background-color: lightgreen;
}
td.cls_16{
    background-color: lightgreen;
    color: darkblue;
}
td.cls_17{
    background-color: darkkhaki;
    color: darkmagenta;
}
td.cls_18{
    background-color: darkkhaki;
    color: darkblue;
}
td.cls_19{
    background-color: darkkhaki;
}